name = 'cf-workers-hono-planetscale-app'
main = 'dist/index.mjs'

workers_dev = true
compatibility_date = '2024-08-23'
compatability_flags = [2nodejs_compat']
account_id=''

[durable_objects]
bindings = [
  { name = 'RATE_LIMITER', class_name = 'RateLimiter' }
]

[env.test.durable_objects]
bindings = [
  { name = 'RATE_LIMITER', class_name = 'RateLimiter' }
]

[[migrations]]
tag = 'v1'
new_classes = ['RateLimiter']

[[env.test.migrations]]
tag = 'v1'
new_classes = ['RateLimiter']

[env.test.vars]
ENV = 'development'
JWT_ACCESS_EXPIRATION_MINUTES=30
JWT_REFRESH_EXPIRATION_DAYS=30
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=15
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=15
DATABASE_NAME='example'
DATABASE_USERNAME='example'
DATABASE_HOST='example'
AWS_REGION='eu-west-1'
EMAIL_SENDER='noreply@gmail.com'
OAUTH_GITHUB_CLIENT_ID='myclientid'
OAUTH_DISCORD_CLIENT_ID='myclientid'
OAUTH_DISCORD_REDIRECT_URL='https://frontend.com/login'
OAUTH_SPOTIFY_CLIENT_ID='myclientid'
OAUTH_SPOTIFY_REDIRECT_URL='https://frontend.com/login'
OAUTH_GOOGLE_CLIENT_ID='myclientid'
OAUTH_GOOGLE_REDIRECT_URL='https://frontend.com/login'
OAUTH_FACEBOOK_CLIENT_ID='myclientid'
OAUTH_FACEBOOK_REDIRECT_URL='https://frontend.com/login'
OAUTH_APPLE_CLIENT_ID='com.your.app'
OAUTH_APPLE_KEY_ID='randomid'
OAUTH_APPLE_TEAM_ID='randomid'
OAUTH_APPLE_JWT_ACCESS_EXPIRATION_MINUTES=30
OAUTH_APPLE_REDIRECT_URL='https://api.com/v1/auth/apple/callback'


[vars]
ENV = 'development'
JWT_ACCESS_EXPIRATION_MINUTES=30
JWT_REFRESH_EXPIRATION_DAYS=30
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=15
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=15
DATABASE_NAME='example'
DATABASE_USERNAME='example'
DATABASE_HOST='example'
AWS_REGION='eu-west-1'
EMAIL_SENDER='noreply@gmail.com'
OAUTH_GITHUB_CLIENT_ID='myclientid'
OAUTH_DISCORD_CLIENT_ID='myclientid'
OAUTH_DISCORD_REDIRECT_URL='https://frontend.com/login'
OAUTH_SPOTIFY_CLIENT_ID='myclientid'
OAUTH_SPOTIFY_REDIRECT_URL='https://frontend.com/login'
OAUTH_GOOGLE_CLIENT_ID='myclientid'
OAUTH_GOOGLE_REDIRECT_URL='https://frontend.com/login'
OAUTH_FACEBOOK_CLIENT_ID='myclientid'
OAUTH_FACEBOOK_REDIRECT_URL='https://frontend.com/login'
OAUTH_APPLE_CLIENT_ID='com.your.app'
OAUTH_APPLE_KEY_ID='randomid'
OAUTH_APPLE_TEAM_ID='randomid'
OAUTH_APPLE_JWT_ACCESS_EXPIRATION_MINUTES=30
OAUTH_APPLE_REDIRECT_URL='https://api.com/v1/auth/apple/callback'

[build]
command = 'npm run build'
# [secrets]
# JWT_SECRET
# DATABASE_PASSWORD
# AWS_ACCESS_KEY_ID
# AWS_SECRET_ACCESS_KEY
# SENTRY_DSN
# OAUTH_GITHUB_CLIENT_SECRET
# OAUTH_DISCORD_CLIENT_SECRET
# OAUTH_SPOTIFY_CLIENT_SECRET
# OAUTH_GOOGLE_CLIENT_SECRET
# OAUTH_FACEBOOK_CLIENT_SECRET
# OAUTH_APPLE_PRIVATE_KEY
