name = "cf-workers-hono-planetscale-app"
main = 'dist/index.mjs'

workers_dev = true
compatibility_date = '2022-05-05'
account_id=''

[miniflare]
kv_persist = false
env_path = '.env.test'

[vars]
ENV = 'development'
JWT_ACCESS_EXPIRATION_MINUTES=30
JWT_REFRESH_EXPIRATION_DAYS=30
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=15
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=15
DATABASE_NAME='example'
DATABASE_USERNAME='example'
DATABASE_HOST='example'


[build]
command = "npm run build"

# [secrets]
# JWT_SECRET
# DATABASE_PASSWORD
